n8n/lead_notification_workflow.json
{
  "name": "Hot Lead Notification",
  "nodes": [
    {
      "parameters": {
        "path": "hot-lead",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "hot-lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{$json[\"budget\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Has Budget Info?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "options": {},
        "message": "=🔥 New HOT lead!\\nName: {{$json[\"name\"]}}\\nNeed: {{$json[\"need\"]}}\\nBudget: {{$json[\"budget\"]}}\\nTimeline: {{$json[\"timeline\"]}}"
      },
      "id": "set-1",
      "name": "Format Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [750, 220]
    },
    {
      "parameters": {},
      "id": "noop-1",
      "name": "Log Only (No Budget Yet)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [750, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Has Budget Info?", "type": "main", "index": 0 }]]
    },
    "Has Budget Info?": {
      "main": [
        [{ "node": "Format Notification", "type": "main", "index": 0 }],
        [{ "node": "Log Only (No Budget Yet)", "type": "main", "index": 0 }]
      ]
    }
  }
}
